# AWS Cognito Configuration
VITE_COGNITO_USER_POOL_ID=your-user-pool-id
VITE_COGNITO_USER_POOL_CLIENT_ID=your-client-id
# VITE_COGNITO_IDENTITY_POOL_ID=your-identity-pool-id  # Opcional - solo si necesitas acceso a recursos AWS

# AWS Region
VITE_AWS_REGION=us-east-1

# API Gateway URL (obtenido del output de Terraform)
VITE_API_GATEWAY_URL=https://your-api-gateway-url.execute-api.us-east-1.amazonaws.com
